@page "/courses"
@* @attribute [Authorize(Roles = "Admin")] *@

<h3>
    <a href="/courses/create">Create new course</a>
    or choose a course below to edit</h3>

<section>
    <CourseList />
</section>



@code {
    [Parameter]
    public string? courseId { get; set; }
}
