@page "/courses/create"

@using SiliconBackOffice.Client.Components
@using SiliconBackOffice.Client.Models
<h3>CreateCourse</h3>

<section class="container">
    <CreateCourseForm />
</section>

@code {

    
        
    }

